<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(customer) -%>">
  <span class='title'>
    <%= customer.email %>
    <span class="preview">&nbsp;</span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag("application_go.png"), customer_path(customer),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    <%= link_to refinery_icon_tag("application_edit.png"), edit_admin_customer_path(customer),
        :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), admin_customer_path(customer),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'shared.admin.delete', :title => customer.name),
        :method => :delete %>
  </span>
</li>
